.resultsCard {
    display: flex;
    border-bottom: 1px solid black;
    width: 500px;
    font-family: 'Lato', sans-serif;
    color: black;
}

.site_name {
    font-size: 20px;
    font-weight: 700;
}

.card_info {
    margin-top: 0;
}

.card_img {
    width: 200px;
    height: 200px;
    margin: 20px;
}