.My_Listing_Container {
  /* display: flex;
    justify-content: space-around; */
  height: 375px;
  width: 270px;
  margin: 20px;
  background-color: #14161a;
  text-align: center;
  color: #999999;
}

.Listing_Img {
  width: 220px;
  height: 120px;
  margin-top: 27px;
}
