.My_Request_Container {
  height: 450px;
  width: 270px;
  margin: 20px;
  background-color: #14161a;
  text-align: center;
  color: #999999;
}

.Request_Img {
  width: 220px;
  height: 120px;
  margin-top: 27px;
}
